footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;


    & .navbarContainer {
        display: flex;
        gap: 1rem;

        & .navItem {
            font-family: Libre Franklin, sans-serif;
            font-size: .8rem;
            font-weight: 100;
            text-decoration: none;
        }
    }

    & .langContainer {
        display: flex;
        gap: 0.5rem;

        & .languageSelector {
            cursor: pointer;
            font-size: 0.8rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--third-color);
            }
        }

    }
}

/* Desktop Footer */

#desktopFooter {
    width: 100vw;
    background-color: var(--main-bg);
    transform: translateX(-2.5rem);

    @media (max-width: 768px) {
        transform: translateX(-1.5rem);
    }
    
    display: flex;
    margin-bottom: 0;   


    & .footerContainer {
        width: 100%; 
        margin: auto;
        height: 100vh;
        background-color: var(--second-bg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow-y: hidden;
        position: relative;

        & .footerContainer {
            width: 100%;
            height: 100%;
            padding: 5vw 0 0;
        }


        & .footerLinks {
            width: 100%;
            height: 100%;
            padding: 5vw 0 0 0 ;
            display: flex;
            flex-direction: column;
            align-items: flex-end; 
            justify-content: space-around;          
              
            
            & .pageLinks, .socialLinks {
                display: flex;
                width: 200px;
                flex-direction: column;
                

                & h4, .navItem {
                    font-size: 1.5rem;
                }

                & .navItem:hover, .scLink:hover a {
                    color: var(--third-color) !important;
                }

                & .scLink:hover svg {
                    filter: invert(39%) sepia(60%) saturate(1892%) hue-rotate(360deg) brightness(106%) contrast(105%);
                }
                

                & a {
                    text-decoration: none;
                }

                & div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
            
            & * {
                color: var(--main-bg);
            }
        }

      


        & h3 {            
            font-family: "Clash-Medium", sans-serif;
            font-weight: 700;
            font-size: calc(13.5vw - 24px);
            line-height: 9vw;
            background: rgb(15,15,17);
            background: linear-gradient(180deg, rgba(15,15,17,0.15) 0%, rgba(15,15,17,0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            /* @media screen and (max-width: 1273px) {
                font-size: 11vw;
            }

            @media screen and (max-width: 806px) {
                font-size: 10vw;
            } */

        }

        & .langs {
            
            width: 200px;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            & a {
                font-size: 0.9rem;
                text-decoration: none;
                color: var(--main-bg);   
                
                &:hover {
                    color: var(--third-color);
                }
            }
        }
    }
}

/* Mobile Footer */

.mobileFooter {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    margin-left: -1.5rem;
    margin-bottom: 0;
    background-color: var(--second-bg);

    & img {
       width: 20vw;
       height: 20vw;
       padding: 0.5rem 0.5rem;
       margin: 2rem auto;
       object-fit: contain;
       filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(18deg) brightness(106%) contrast(101%);
       background-color: var(--second-bg);
       border-radius: 50%;
    }
    & div {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    & .mobileFooterLink {
        text-align: center;
    }
    & p, a {
        font-size: 1rem;
        font-weight: 300;
        margin: 0.2rem 0;
        text-align: center;
        color: var(--main-bg);
    }
    
    & .footerRights {
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid var(--second-color);
        
        & p {
            line-height: 1rem;
        }
    }
}




