#works {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 99.1vw;
    margin-left: -2.5rem;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
        margin-left: -1.5rem;
    }    

    .work {
        background-size: cover;
        background-position: 50% -120%;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
        width: 100%;
        padding: 2.5rem 2.5rem;
        border-bottom: 1px solid var(--main-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 11vw;

        @media screen and (max-width: 768px) {
            
            background-position: 50% 200px;            
            padding-inline: 1.5rem;
            padding: 1.5rem 0;
            padding: 1.5rem 1.5rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 200px;

            &:hover {
                height: 250px;
            }

        }

        .h2 {
            width: auto !important;
            display: inline-block !important;
            position: relative;
            margin-top: 0.5rem;

            @media screen and (max-width: 768px) {                   
                cursor: auto;
                font-size: 8vw !important;            
            }
    
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: var(--main-color);
                transform-origin: bottom right;
                transition: transform 0.5s ease-out;
            }
    
            &:hover {
                &:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

        a {
            text-decoration: none;
        }

        &:hover {
            background-position: 50% 50%;
            height: 400px;
        }

        .workInfo {
            text-align: end;

            a,
            p {
                text-align: end;
                font-size: 1rem;
                letter-spacing: -0.03em;
                line-height: 1.1em;
                margin-left: 0.4vw;
            }

            .techImg {
                text-align: end;

                img {
                    height: 35px;
                    width: auto;
                    padding-left: 0.5rem;
                    padding-top: 0.5rem;

                    @media screen and (max-width: 768px) {  
                        height: 30px;
                    }
                }
            }

            .workLink {
                display: inline-block !important;
                position: relative;
        
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: var(--main-color);
                    transform-origin: bottom right;
                    transition: transform 0.5s ease-out;
                }
        
                &:hover {
                    &:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }

            @media screen and (max-width: 768px) { 
                p, .workLink, .techImg {
                    text-align: start;
                    width: 100% !important;
                    font-size: calc(8px + 1.5vw) !important;
                }
            }

            @media screen and (max-width: 576px) {

                p, .workLink {
                    font-size: calc(8px + 2.5vw) !important;
                }
            }

            
        }
           
    }
   
}